@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #68eacc;
}
#to-do-fieldest {
  background: #fff;
  max-width: 400px;
  width: 100%;
  margin: 120px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
#to-do-fieldest legend {
  font-size: 30px;
  font-weight: 600;
}
#to-do-fieldest .inputField {
  display: flex;
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
.inputField input {
  width: 85%;
  height: 100%;
  border: 1px solid #ccc;
  font-size: 17px;
  border-radius: 5px;
  padding-left: 10px;
}
#to-do-fieldest .inputField button.aktive {
    opacity: 1;
    pointer-events: auto;
}
.inputField button {
  width: 50px;
  height: 100%;
  border: none;
  outline: none;
  background-color: darkviolet;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
  opacity: 0.3;
  pointer-events: none;
}
#to-do-fieldest .todoList{
    max-height: 250px;
    overflow-y: auto;
}
.todoList li {
  list-style: none;
  height: 45px;
  line-height: 45px;
  position: relative;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 0 15px;
  cursor: default;
}
.todoList li span {
  position: absolute;
  right: 0px;
  color: white;
  width: 45px;
  text-align: center;
  background: red;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
#to-do-fieldest .removeButton {
  display: flex;
  width: 100%;
  margin-top: 15px;
  justify-content: flex-end;
}
.removeButton button {
  border: none;
  outline: none;
  background-color: darkviolet;
  color: white;
  font-size: 23px;
  border-radius: 5px;
  margin-left: 5px;
  padding: 7px;
  user-select: none;
  opacity: 0.3;
  pointer-events: none;
  transition: all 0.3s ease;
}
.removeButton button.active{
  opacity: 1;
  pointer-events: auto;
}
